* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  transition: transform 0.5s ease-in-out;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  }


h1 {
  color: #1D1D1F;
  font-size: 4em;
  margin-bottom: 1.5em;
  margin-top: 1em;
  font-weight: bold;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.2);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(136, 136, 136, 0.6);
}


/*---------------------------------SignIn---------------------------------*/
.background {
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: #F9F1E3;
  background-size: cover; 
  z-index: -1; 
  overflow: hidden;
}

.container {
  padding: 0;
  margin: 0; 
  width: 100vw;
  height: 100vh; 
}
.logo {
  position: absolute;
  width: 117.62px; 
  height: auto; 
  margin-bottom: 1rem; 
  order: -1;
  top: 3px; 
  left: 16px;
}
.sign-page {
  position: relative;
  background-color: #0758E8;
  border-radius: 24px;
  padding: 20px ;
  width: 90%;
  box-sizing: border-box;
  height: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: relative;
  grid-template-columns: 1fr 1fr;
  min-height: 670px;
  margin-top: 10px;
}

.sign-form {
  background-color: #FFFEFC;
  border-radius: 24px;
  width: 100%;
  max-width: 600px;
  height: 95%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex: 2;
  overflow: auto;
}

.welcome-section {
  grid-column: 2 / 3;
  align-self: center;
  margin-top: 40px;
  transform: scale(0.9);
}


.sign-form .input input {
  flex: 1;
  height: 40px;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}
.custom-placeholder::placeholder {
  font-size: 0.9rem; 
}
.custom-label {
  font-size: 1rem;
  margin-left: 10px;
  margin-bottom: -10px;

}
.sign-button {
  width: 100%;
  height: 40px;
  border-radius: 14px;
  font-size: 18px;
  background: #17CC82;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 18px;
}
.input-title {
  font-size: 10px;
  top: 17px;
  left: 16px;
  width: fit-content;
  padding-inline: 4px;
  background-color: #FFFEFC;
  position: relative;
  z-index: 2;
}

.sign-button:hover {
  background: #00b342;
}

.question {
  font-size: 12px;
  color: #24205D;
  margin-top: 20px;
}

.question a {
  color: #24205D;
  font-weight: bold;
}

.question a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: -2px;
  margin-bottom: 0px;
  position: relative;
  margin-right: 20px;
  margin-left: -10px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width:fit-content;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  height: 150px;
  overflow-y: auto;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 1;
}

.package-content{
  margin-left: -12px;
}
.package-card {
  background-color: #FF544A;
  transition: background-color 0.3s;
  color: #FFFEFC;
}
.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 0.5em;
  margin-bottom: .125rem;
}
.package-content h3 {
  margin-top: 0;
  font-size: 14px;
}
.package-content p {
  margin-top: 0;
  font-size: 9.5px;
}

.package-content ul {
  padding-left: 0;

}

.package-content li {
  margin-bottom: 0.2em;
  font-size: 10px;
  justify-content: space-between;
  display: flex;


}

.package-card {
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid #ccc; 
  height: 220px;
}

.package-card.selected {
  background-color: #9C332D; 
  color: #fff; 
}

.password-container {
  position: relative;
}

.password-toggle-button {
  position: absolute;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
}

.switch-wrapper {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@media (min-width: 340px) and (max-width: 767px) {
  .sign-page {
    position: absolute;
    width: 300px;
    height: 100vh;
    margin-top: 100px;
    margin-bottom: 10px;
    background-color: #0758E8;
    display: flex;
    border-radius: 23.87px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
  }

  .background {
    background-color: #F9F1E3;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .sign-page .logo {
    left: 4%;
    top: -2px;
    position: absolute;
    height: 35px;
    width: 56px;
    margin-bottom: 4px;
  }

  .sign-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 23.87px;
    width: 280px !important;
    height: 100vh;
    margin-top: 10px; 
    background-color: #FFFEFC;
    box-sizing: border-box;
    overflow-y: auto;
  }

  .sign-form .input input {
    flex: 1;
    border-radius: 10px;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px;
    width: 150px;
    height: 40px;
  }

  .dropdown {
    width: 150px;
    margin-top: 20px;
  }
  .dropdown-menu {
    position: relative;
    width: 150px;
    height: 40px;

  }
  .dropdown-button {
    font-size: 12px;
    width: 100%;
    height: 26px;
  }
}


@media (max-width: 1200px) {
  .sign-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 23.87px;
    width: 70%;
    height: 90%;
    background-color: #FFFEFC;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;

  }
  .sign-form h1 {
    font-size: 36px;
    font-weight: bold;
    color: #24205D;
    margin-top: 36x;
    margin-bottom: 44px;
  }
  .sign-form .input {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 6px;
    justify-content: center;
    margin-bottom: 20px;
  }

  .sign-form .input input {
    flex: 1;
    border-radius: 10px;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px;
    width: 300px;
    height: 40px;
  }

  .dropdown {
    position: relative;
    width: 300px;
    margin-top: 20px;
  }

  .sign-page .logo {
    width: 94.10px;
    height: 56px;
  }

  .dropdown-button {
    font-size: 12px;
    width: 100%;
    height: 26px;
  }

  .dropdown-menu {
    width: 200px;
  }
  .package h1 {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
    font-weight: bolder;
  }
  .package {
    font-family: 'Inter', sans-serif;
    width: 50%;
    align-items: center;
    justify-content:center;
    gap: 10px;
    display: flex;
    box-sizing: border-box;
    margin-inline-end: 40px;
    margin-inline-start: 40px;

  }
  
  .package div {
    font-family: 'Inter', sans-serif;
    background-color: #FF544A;
    height: 100%;
    width: 100%;
    border-radius: 24px;
    justify-content: center;
    padding-top: 0px;
  }
  
}



@media (max-width: 768px) {
  .sign-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 23.87px;
    width: 50%;
    height: 90%;
    background-color: #FFFEFC;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;

  }

  .sign-form h1 {
    font-size: 36px;
    font-weight: bold;
    color: #24205D;
    margin-top: 36x;
    margin-bottom: 44px;
  }

  .sign-page {
    padding: 0px;
    justify-content: center;
    align-items: center;
}

  .sign-form .input {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 6px;
    justify-content: center;
    margin-bottom: 20px;
  }

  .sign-form .input input {
    flex: 1;
    border-radius: 10px;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px;
    width: 200px;
    height: 40px;
  }


  .sign-page .logo {
    width: 94.10px;
    height: 56px;
  }

  .dropdown-button {
    font-size: 12px;
    width: 100%;
    height: 26px;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 500px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    height: 0px;
    overflow-y: auto;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
  }

  .sign-form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .package {
    font-family: 'Inter', sans-serif;
    width: 200px;
    flex-direction: column;
    margin: 2%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    display: flex;
    box-sizing: border-box;
  }

  .package h1 {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
    font-weight: bolder;
  }

  .package-content p {
    font-size: 10px;
  }

  .package-content ul {
    font-size: 8px;
  }

  .sign-button {
    width: 200px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
  }

  .welcome-section {
    display: none;
  }

  .navbar-sign {
    visibility: hidden;
  }
}

/*---------------------------------SignIn---------------------------------*/
/*---------------------------------Login---------------------------------*/
/*.sign-form h3 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #24205D;
  margin-top: 40px;
}

.sign-form .login-input input {
  height: 50px;
  width: 400px;
  border-radius: 10px;
  padding: 16px;
  font-size: 16px;
}

@media (max-width: 1100px) {
  .sign-form .login-input input {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    padding: 16px;
    font-size: 16px;
  }

}

.sign-form .login-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin-top: 30px;
  margin-bottom: 20px;
  gap: 40px;
  box-sizing: border-box;


}

.sign-form .login-input p {
  font-size: 14px;
  top: 10px;
  left: 16px;
  width: fit-content;
  padding-inline: 4px;
  background-color: #FFFEFC;
  position: relative;
  transition: top 0.3s, font-size 0.3s;
}
.password-container {
  position: relative;
}

.password-toggle-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
}


.question {
  font-size: 12px;
  color: #24205D;
  margin-top: -25px;
  margin-bottom: 40px;
}

.question a {
  color: #24205D;
  text-decoration: none;
  font-weight: bold;
}

.question a:hover {
  text-decoration: underline;
}

.login-button {
  height: 50px;
  width: 70%;
  border-radius: 14px;
  font-size: 20px;
  background: #17CC82;
  margin-top: 30px;
  color: white;
  border: none;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.login-button:hover {
  background: #00b342;
}

/*---------------------------------Login---------------------------------*/
